<!DOCTYPE html>
<head>
    <!--link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<body style="background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(169,197,219,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(169,197,219,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(169,197,219,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(169,197,219,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(169,197,219,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(169,197,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a9c5db', GradientType=1 );">

<div class = "jumbotron bg-primary text-white">
    <h1 class="display-4" style="margin-left: 14pt;">
        Deep Neural Network models for Intrusion Detection
    </h2>
</div>


<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="text-decoration-none">About the network models</h5>
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body align">
            <p class= "lead" style="width:1050pt">
            We were able
            to replicate results with our learnings from the EDA, and achieved similar performance
            metrics as ML models with only 10 epochs, achieving efficient training time over a very large dataset. To provide a more profound
            basis for our experiment, we used the Callbacks class from Keras, employing
            ModelCheckpoint to validate our findings. </p>
            
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="text-decoration-none">Findings</h5>
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <mark class="lead">A 3 layer network performs the best amongst the ones evaluated</mark><br><br>
            <p style="width:1050pt" class= "lead">Since data is actually very linear, 2 or 3 layers of a network would be able
                to find the deciding factors. Anything greater, variance in the model increases (which
                causes the model to lose performance since the network becomes more selective in
                feature weights)</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h5 class="text-decoration-none">Contributions</h5>
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body"><p style="width: 1050pt;" class= "lead">
            We were able to reduce model size and training resources while maintaining a competent performance metric. Also, usage of <code><mark>ModelCheckpoint</mark></code> 
            to reduce the overall number of weights we store per epoch for a DNN model
            model building allows us to deploy the IDS on most (if not all) mobile and routing devices,
            which was not previously possible due to the bulky nature of the models.</p> <p style="width: 1050pt;" class= "lead">
              The <code><mark>ModelCheckpoint</mark></code> callback class allows you to define where to checkpoint the model weights, how the file should named and under what circumstances to make a checkpoint of the model.

              The API allows you to specify which metric to monitor, such as loss or accuracy on the training or validation dataset. 
              You can specify whether to look for an improvement in maximizing or minimizing the score. Finally, the filename that 
              you use to store the weights can include variables like the epoch number or metric.
              
               </p>
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              <h5 class="text-decoration-none">Snapshots</h5>
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body"><p style="width: 1050pt;">
            
            <div class="container-fluid">
                <div class="row">
                    <div class="span4 col-md-4 mr-2">
                        <img src="static\dlresults.PNG">
                    </div>
                    <div class="span8">
                        <div class="row">
                            <div class="span4 mr-1"><img src="static\dl1training.PNG" width="90%">
                                <h6><br><mark class="lead">Training with 1 hidden layer</mark><h6></div>
                            
                        </div>
                        <div class="row">
                            <div class="span4 mt-5 mr-1"><img src="static\dl3training.PNG" width="90%"> 
                                <h6><br><mark class="lead">Training with 3 hidden layers</mark><h6></div></div>
                            
                        </div>
                    </div>
                </div>
                
            </div>

          </div>
        </div>
      </div>

  </div>




</body>