<!DOCTYPE html>
<head>
    <!--link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<body style="background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(169,197,219,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(169,197,219,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(169,197,219,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(169,197,219,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(169,197,219,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(169,197,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a9c5db', GradientType=1 );">

<div class = "jumbotron bg-primary text-white">
    <h1 style="margin-left: 14pt;">
        Intrusion Detection System using Deep Neural Networks
    </h2>
</div>


<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5>Introduction</h5>
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body align">
            <p style="width:1050pt">
                Software to detect network intrusions protects a computer network from unauthorized users, including 
                perhaps insiders. The intrusion detector learning task is to build a predictive model (i.e. a classifier)
                capable of distinguishing between "bad" connections, called intrusions or attacks, and "good" normal connections.<br><br>
                A standard set of data to be audited, which includes a wide variety of intrusions simulated in a military
                network environment, was provided.
                The data was obtained from intrusion simulations in an Air Force LAN 
                <img src={{ url_for('static', filename='ids.gif')}} style="width: 40%;"><br><br>
                <p> <b>Intrusion Detection services, unlike firewalls are designed to function <em>out of band</em> with the network</b></p><br>
                <img src={{ url_for('static', filename='ids1.png') }} style="width: 40%;"><br>
            </p> 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5>Implemented Models</h5>
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <h3>We have implemented the following classical ML Models:</h3>
    <p style="width: 1050pt;"><b><em>Logistic regression</em></b> is a statistical model that in its basic form uses 
        a logistic function to model a binary dependent variable</p>

    <p style="width: 1050pt;"> <b><em>Naive Bayes  </em></b>methods are a set of supervised learning algorithms based on applying Bayes’ theorem with the “naive” 
        assumption of conditional independence between every pair of features given the value of the class variable.</p>
    
      <p style="width: 1050pt;"><b><em>Decision Trees (DTs)</em></b> are a non-parametric supervised learning method used for classification and regression. The goal is to 
          create a model that predicts the value of a target variable by learning simple decision rules inferred from the data features.</p>

      <p style="width: 1050pt;"><b><em>Random forest </em></b> is a meta estimator that fits a number of decision tree classifiers on various sub-samples of the dataset
       and uses averaging to improve the predictive accuracy and control over-fitting.</p>

       <h4> Apart from these, we have built and tested Deep Neural Networks with hidden layers ranging from 1-5 with the follwoing structures
       </h4>
       <p>- 1 Layer : [ 1024 ] Nodes <br>
        - 2 Layers : [ 1024, 768 ] Nodes<br>
        - 3 Layers : [ 1024, 768, 512 ] Nodes<br>
        - 4 Layers : [ 1024, 768, 512, 256 ] Nodes<br>
        - 5 Layers : [ 1024, 768, 512, 256, 128 ] Nodes</p>
        <img src={{ url_for('static', filename='network.png')}} style="width: 40%;">
        </div>
      </div>
    </div>
    

    <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h5>More</h5>
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body"><p style="width: 1050pt;">
            
            <ul>
                <li> <a href = "dataset">Dataset Description</a> </li>
                <li> <a href = "mlmodels">Classical Machine Learning Models </a></li>
                <li> <a href = "eda">Exploratory Data Analysis</a></li>
                <li> <a href = "dlmodels">Deep Neural Network Models </a></li>
            </ul>
                
            </div>

          </div>
        </div>
      </div>


  <!-- Footer -->
<footer class="page-footer bg-primary font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
      <p>Varun B N, Shreyes Bhat, Suraj S Jarali, Sudarshan K<br> Ramaiah Institute of Technology, Bangalore</p>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

</body>