<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
 <h2 style = "margin-left: 150pt; border-radius: 5pt;">Snapshots of ML model results</h2>

<div class="grid-container">
    <div class="image">
        <div class="card">
        <img src={{ url_for('static', filename='mltxtacc.PNG') }} width="100%">
        <div class="container">
            <h4><b>Classical ML Models results</b></h4> 
        </div>
    </div> 
    </div>
    <div class="graph1">
        <div class = "card">
        <img src={{ url_for('static', filename='mlacc.PNG') }} width="100%">
        <div class="container">
            <h4><b>Comparision of accuracies</b></h4> 

    </div>
    </div>

    <div class="graph2">
        <div class = "card">
        <img src={{ url_for('static', filename='mlf1.PNG') }} width="100%">
        <div class="container">
            <h4><b>Comparision of F1 Scores</b></h4> 
    </div>
    </div>
</div>



